
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form class="form-inline" method="post" action="">

    账号:<input type="text" value="admin" name="userName" /><br />
    密码:<input type="password" value="123456" name="password" /><br />
    <button type="submit">登录</button>
</form>
