@{
    ViewData["Title"] = "NetApiStarter";
    var claimList = ViewBag.claimList as List<string>;

    var pagedList = ViewBag.pagedList as StaticPagedList<int>;
}


<div class="container">
    <p> 运行环境：@ViewBag.Environment</p>


    <div class="card">
        <div class="card-body">
            <h5 class="card-title">api部分</h5>
            <p class="card-text">
            <p>
                <a target="_blank" href="/swagger">文档</a>
            </p>

            <p>
                验证方式：<br />
                Authorization: Bearer {jwt}
            </p>
            </p>
        </div>
    </div>

    <br />




</div>